// Place all the styles related to the Number_Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_game {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.wrong_guess {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

	color: #fff;
	text-align: center;
	background-color: #ea4335;
	-webkit-box-shadow: inset 0 -0.063em 0 rgba(0, 0, 0, .15);
	      box-shadow: inset 0 -0.063em 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	   -o-transition: width .6s ease;
	      transition: width .6s ease;

	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 2.5em 2.5em;
	      background-size: 2.5em 2.5em;

	-webkit-animation: progress-bar-stripes 2s linear infinite;
	   -o-animation: progress-bar-stripes 2s linear infinite;
	      animation: progress-bar-stripes 2s linear infinite;
}

.correct_guess {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;

	color: #fff;
	text-align: center;
	background-color: #34a853;
	-webkit-box-shadow: inset 0 -0.063em 0 rgba(0, 0, 0, .15);
	      box-shadow: inset 0 -0.063em 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	   -o-transition: width .6s ease;
	      transition: width .6s ease;

	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 2.5em 2.5em;
	      background-size: 2.5em 2.5em;

	-webkit-animation: bar-stripes 2s linear infinite;
	   -o-animation: progress-bar-stripes 2s linear infinite;
	      animation: progress-bar-stripes 2s linear infinite;
}
	#number_game_table {
		width: 70%;
		height: 18.750em;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
		overflow: auto;
	}
		::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 0.438em;
		}
		::-webkit-scrollbar-thumb {
		    border-radius: 0.250em;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 0.063em rgba(255,255,255,.5);
		}

	.jumbotron01 {
	  padding-top: 1.875em;
	  padding-bottom: 1.875em;
	  margin-bottom: 1.875em;
	  color: inherit;
	}
	
	.jumbotron01 h1 {
	  color: inherit;
	  font-size: 2em;
	  font-weight: 200;
	}
	
	p {
	  color: inherit;
	  margin-bottom: 0.938em;
	  font-size: 1em;
	}
	.jumbotron01 > hr {
	  border-top-color: #d5d5d5;
	}
	.container .jumbotron01,
	.container-fluid .jumbotron01 {
	  padding-right: 0.938em;
	  padding-left: 0.938em;
	  border-radius: 0.375em;
	}
